<div class="container">
  <div class="card my-3">
    <div class="card-header text-center">
      <span class="font-weight-bold"><%= @friend.email %></span>
    </div>
  </div>
  <%= render "friends/delete_modal" %>
</div>