<div class="container">
  <%= render partial: "todos/todos", locals: { render_name: "To Do", render_status: false } %>
  <%= render partial: "todos/todos", locals: { render_name: "Done", render_status: true } %>
</div>