/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 .bg-form{
  background: #f7f7f7;
}

.bg-card-done{
  background: #c3ed85;
}

.bg-prio-low{
  background: #ffff4560;
}

.bg-prio-medium{
  background: #ffa24560;
}

.bg-prio-high{
  background: #ff454560;
}

.span-prio {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}