<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Confirm your account to become a member of ToDo app. You would be able to create to do list without worrying about their expiry time. You also will had ability to add friends, share todos with them and many, many more. Feel free to reply this email if you had any questions.</p>

<p>Regards!</p>

<p>MRozmus</p>