<% if flash[:notice] || flash[:alert] %>
  <div class="alert alert-<%= flash[:notice] ? "success" : "danger" %> alert-dismissible fade show text-truncate" role="alert">
    <%= flash[:notice] if flash[:notice] %>
    <% if flash[:alert] %>
      <% flash[:alert].each do |e| %>
        <%= "- #{e}" %><br>
      <% end %>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>